<% if obj.errors.any? %>
    <p class="error_title">スケジュールを登録できませんでした</p>
   <% obj.errors.full_messages.each do |message| %>
     <ul>
       <li><%= message %></li>
     </ul>
   <% end %>
 <% end %>